body{
background-image: url(legno.jpg);
color: white;
}
.logo-text{
  font-size: 20px;
}
.container{
  width: 1000px;
  margin: auto;
}
.logo{
  height: 110px;
  width: 130px;
}
.read{
  background-color: grey;
}

.unread{
  background-color: white;
}

.row{
  color: black;
}

#unread-count{
  background-color: blue;
  color: red;
  border-radius: 50%;
  padding: 5px;
}

.row-left{
  display: inline-block;
  width: 30%;
}
.row-right{
  display: inline-block;
  width: 68%;
}
#bigg{
  font-size: 24px;
}
.subject{
color: black;
}

.body{
color: grey;
}

footer{
  text-align: center;
}
